
$white:#FFFFFF;

$text:#7E7E82;
$text-all:#1B1C21;
$text-hover:#FF3E79;


$highlighter: #41F6D7;

$slider-devider: #D9FFF5;

$divider-price: #EAEAEA;

$border-modal:#B5B6BC;

$grey: #F8F8F8;
$darkgrey: #E5E5E5;

$button-border: #B8FFEC;
$button-border-hover: #FF3E79;

$swiper: #979797;