.wrapper__modal-call {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background: #ffffff;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
    16px 0px 52px rgba(14, 24, 80, 0.2);
  padding: 8px 16px;

  @media screen and (min-width: 520px) {
    padding: 0 32px;
    width: 440px;
  }
  z-index: 6;
  display: none;
  transition: all 0.3s linear;
}
.modal__title::before {
  @media screen and (min-width: 520px) {
    content: "";
    position: absolute;
    top: 32px;
    width: 4px;
    height: 40px;
    background: url(../img/icon/highlight.svg) no-repeat;
    transform: translateX(-32px);
  }
}
.modal__title::after {
  @media screen and (max-width: 519px) {
    content: "";
    position: absolute;
    width: 4px;
    height: 40px;
    background: url(../img/icon/highlight.svg) no-repeat;
    transform: translate(-214px, -8px);
  }
}
.modal-call__button {
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 40px;
  background: url(../img/icon/closeburger.svg) no-repeat;
  transform: translate(-100px, 32px);


}
.modal-call__fog {
  display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 5;
}
.container__modal-call-active .modal-call__fog {
  display: block;
      background-color: rgba(255, 255, 255, 0.95);
}
.container__modal-call-active .modal-call {
  box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2);
  display: block;
  transition: 0.5s;
  z-index: 6;
}
@keyframes modal_call {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}