.container__modal-call {
  position: fixed;
  z-index: 20;
  display: none;
  top: 0;
  right: 0;
  height: 100vh;
  background: #ffffff;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
    16px 0px 52px rgba(14, 24, 80, 0.2);
  padding: 8px 16px;
  transition: all 0.3s linear;

  @media screen and (min-width: 520px) {
    padding: 0 32px;
    max-width: 440px;
    right: 0;
    top: 0;
  }
}
.container__modal-call--show {
  display: block;
  z-index: 20;
}
.container__modal-call--show::before {
  content: "";
  position: absolute;
  background: #d9fff5;
  border-radius: 1px;
  width: 1px;
  height: 100vh;
  right: 440px;
}
.modal-call {
  padding-top: 24px;
  height: 99vh;
  background-color: #fff;
  @media screen and (min-width: 520px) {
    margin-top: -40px;
  }
}
.modal-call__button {
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 40px;
  background: url(../img/icon/closeburger.svg) no-repeat;
  
  @media (min-width: 520px) {
    position: relative;
    top: 48px;
    left: -100px;
  }
}
.modal-call__button:hover {
  transform: scale(1.1, 1.1);
  transition: all 0.3s ease;
}
.modal-call__title::before {
  @media screen and (min-width: 520px) {
    content: "";
    position: absolute;
    top: 32px;
    width: 4px;
    height: 40px;
    background: url(../img/icon/highlight.svg) no-repeat;
    transform: translateX(-32px);
  }
}
.modal-call__title::after {
  @media screen and (max-width: 519px) {
    content: "";
    position: absolute;
    width: 4px;
    height: 40px;
    background: url(../img/icon/highlight.svg) no-repeat;
    transform: translate(-214px, -8px);
  }
}
.modal-call__title {
  font-family: "TT Lakes Bold";
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
  margin-top: 80px;

  @media (min-width: 520px) {
    margin-top: 16px;
  }
 
}
.form-grope__input,
.form-grope__textarea {
  display: block;
  font-family: "TTLakes", sans-serif;
  font-size: 16px;
  width: 100%;
  padding: 12px 16px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  margin-bottom: 16px;
  color: #b5b6bc;
}
.form-grope__text,
span {
  font-family: "TTLakes", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #7e7e82;
}
span {
  color: #ff3e79;
}
.form-grope__button {
  font-family: "TTLakes", sans-serif;
  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  background: url(../img/icon/goside.svg) no-repeat 90%;
  border-radius: 16px;
  background-color: #ff3e79;
  color: #ffffff;
  border: none;
  padding: 4px 39px 4px 16px;
  float: right;
  margin: 23px 0;

  &:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.3s linear;
  }
}
.call-fog {
 display: none;
 z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}
.call-fog--show {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  pointer-events: all;
  z-index: -2;
  background-color: rgba(255, 255, 255, 0.95);
  transition: 0.5s;
}

@keyframes modal_call {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
