.price {
  max-width: 1440px;
  height: auto;
  width: 100%;
  margin: 0 auto;
  background-color: #f8f8f8;
  font-family: "TT Lakes Medium";
}
.price__title {
  min-width: 320px;
  height: auto;
  background-color: #fff;
  background: linear-gradient(90deg, #f8f8f8 0%, #ffffff 98.61%);
  border-top: 1px solid #d9fff5;
  @media (min-width: 768px) {
    padding: 16px 24px;
  }
  @media (min-width: 1366px) {
    padding: 16px 32px;
  }
}
.price-slider {
  padding: 16px 0px 50px 0px;
  white-space: normal;
  margin-right: 0px;
  margin-left: 8px;
  @media (min-width: 768px) {
    margin: 0 12px;
    padding: 16px;
  }
}
.price-slider__wrapper {
  color: #1B1C21;
  line-height: 18px;
  font-size: 14px;
  font-family: "TT Lakes Medium";
  padding-left: 0;
  @media (min-width: 768px) {
    display: block;
    width: 100%;
    height: 100%;
    margin: 63px 0 0 0;
    width: 100%;
    height: 100%;
    background: #fff;
    align-items: center;
    border-radius: 6px;
  }
}
.price-slider__slide {
  display: block;
  height: 200px;
  width: 260px;
  padding: 16px;
  font-size: 14px;
  line-height: 18px;
  border-radius: 6px;
  background-color: #fff;
  margin-right: 16px;

  @media (min-width: 768px) {
    display: flex;
    width: 100%;
    height: 64px;
    padding: 16px;
    border-bottom: 1px solid #eaeaea;
    margin-right: 16px;
    border-radius: 0;
    background-color: transparent;
  }
}
.price-slider__slide:first-child {
  @media (min-width: 768px) {
    border: none;
  }
}
.price-slider__slide:last-child {
  @media (min-width: 768px) {
    border: none;
  }
}
.price-slider__wrapper:first-child::after {
  @media (max-width: 320px) {
    content: "";
  width: 25px;
  height: 200px;
  position: absolute;
  left: 288px;
  background-image: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
  }
}
.service-title {
  font-size: 14px;
  line-height: 16px;
  color: #7e7e82;
  margin-bottom: 4px;
  @media (min-width: 768px) {
    display: none;
  }
}
.service-options,
.service-price,
.service-time {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  
  margin-bottom: 16px;
  @media (min-width: 768px) {
    padding: 0;
    display: flex;
    align-items: center;
  }
}
.service-options {
  @media (min-width: 768px) {
    padding: 0;
    width: 55%;
  }
}
.service-price {
  @media (min-width: 768px) {
    padding: 0;
    width: 15%;
  }
}
.service-time {
  @media (min-width: 768px) {
    padding: 0;
    width: 20%;
  }
}
.price-slider__slide--upper {
  margin-top: -65px;
  position: absolute;
  font-family: "TT Lakes Medium";
  font-size: 14px;
  line-height: 16px;
  color: #7e7e82;

  @media (max-width: 767px) {
    display: none;
  }
}
.service-button {
  font-family: "TTLakes", sans-serif;
  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  background: url(../img/icon/goside.svg) no-repeat 90%;
  border-radius: 16px;
  background-color: #ff3e79;
  color: #ffffff;
  border: none;
  padding: 4px 39px 4px 16px;
  position: absolute;
  right: 16px;
  bottom: 18px;
}
.service-button:hover {
  transform: scale(1.1, 1.1);
  transition: all 0.3s linear;
}
.swiper-pagination__price {
  transform: translateY(-5px);
  @media (min-width: 768px) {
    display: none;
  }
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #ddd;
}
.price__detail {
  max-width: 450px;
  padding-left: 32px;
  @media (max-width: 767px) {
    padding: 0 16px;
  }
}
.detail-paragraph {
  line-height: 20px;
  font-size: 14px;
  font-family: "TT Lakes Medium";
  letter-spacing: 0.2px;
  color: #1b1c21;
}
.detail-link {
  display: inline-block;
  font-family: "TT Lakes Medium";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding-right: 30px;
  margin-top: 16px;
  text-decoration: none;
  color: #1b1c21;
  transition-duration: 0.3s;
  position: relative;
  &:hover {
    color: tomato;
  }
}
.detail-link::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: url(../img/icon/arrow.svg) no-repeat;
  transform: translate(10px, 7px);
}
