.repair-brand {
  font-family: "TT Lakes Medium";
  background-color: #f8f8f8;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}
.repair-brand__title {
  min-width: 320px;
  height: auto;
  background-color: #fff;
  background: linear-gradient(90deg, #f8f8f8 0%, #ffffff 98.61%);
  border-top: 1px solid #d9fff5;
}
.repair-title {
  font-size: 16px;
  padding: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7e7e82;

  @media (min-width: 768px) {
    padding: 16px 24px;
  }
  @media (min-width: 1120px) {
    padding: 16px 32px;
  }
}
.brand-slider__slide {
  :hover {
    transform: scale(1.1, 1.1);
    transition: all 0.3s linear;
  }
  @media (max-width: 767px) {
    margin-right: 16px;
    margin-bottom: 16px;
    width: 240px;
  }
  @media (min-width: 767px) and (max-width: 1119px) {
    margin-right: 18px;
    margin-bottom: 16px;
    max-width: 30%;
  }

  @media (min-width: 1120px) {
    margin-right: 30px;
    margin-bottom: 16px;
    width: 240px;
  }
  @media (min-width: 1366px) and (max-width: 1408px) {
    margin: 0px 16px 16px 0px;
    max-width: 240px;
  }
}
.swiper-slide__button {
  background-image: url(../img/icon/go.svg);
  width: 40px;
  height: 40px;
  background-color: #fff;
  margin-right: 16px;
}
.brand-slider__wrapper {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 12px;
  display: flex;
  @media (min-width: 1120px) {
    padding-left: 32px;
  }
  @media (min-width: 1336px) and (max-width: 1408px) {
    padding-left: 20px;
  }

}
.brand-slider__wrapper::after {
  @media (max-width: 320px) {
    content: "";
    width: 24px;
    height: 81px;
    top: 15px;
    position: absolute;
    left: 296px;
    background-image: linear-gradient(
      270deg,
      #f8f8f8 16.84%,
      rgba(248, 248, 248, 0.0001) 100%
    );
  }
}
.swiper-slide__label {
  display: flex;
  align-items: center;
  height: 72px;
  background: #fff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  
}
.swiper-slide__logo {
  padding: 0 16px;
}
.brand-slider .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #dddddd;
}
.brand-button {
  margin-left: 63px;
}
.brand-button__image {
  -webkit-transform: translate(-30px, -5px);
  -ms-transform: translate(-30px, -5px);
  transform: translate(-30px, -5px);
}

@media screen and (max-width: 767px) {
  .brand-slider__slide {
    margin: 0px 0px 16px 16px;
    width: 240px;
  }
  .brand-button {
    display: none;
  }
  .repair-brand__title {
    padding: 16px 16px;
  }
  .brand-slider__slide {
    margin: 8px 8px 16px 4px;
  }
  .brand-slider__wrapper {
    padding-top: 12px;
  }
  .expand {
    display: none;
  }
}
@media screen and (min-width: 767px) {
  .brand-slider__wrapper {
    max-height: 136px;
   
    
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
  }
  .expand {
    opacity: 0;
    position: absolute;
    top: 0;
  }
  .expand:checked ~ .swiper-wrapper {
    max-height: none;
  }
  .read-more {
    display: inline-block;
    margin-left: 45px;
    position: relative;
    margin-top: 24px;
    @media (min-width: 768px) {
      margin-bottom: 24px;
    }
    @media (min-width: 1120px) {
      margin-bottom: 50px;
    }
  }
  .read-more::after {
    content: "Показать все";
    font-family: "TT Lakes Medium";
    font-size: 16px;
    line-height: 24px;
    color: #1b1c21;
    padding-left: 26px;
    background: url(../img/icon/expand.svg) no-repeat 0 -2px;
  }
  .expand:checked ~ .read-more::after {
    content: "Скрыть";
    font-family: "TT Lakes Medium";
    font-size: 16px;
    line-height: 24px;
    color: #1b1c21;
    background: url(../img/icon/expandUp.svg) no-repeat 0 -1px;
  }
  .repair-brands__title {
    padding: 16px 50px;
  }
  .swiper-pagination {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1119px) {
  .repair-brand__title {
    padding: 16px 24px;
  }
  .brand-slider__wrapper {
    padding-left: 24px;
  }
}
