.repair-technic {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: #f8f8f8;
  margin-bottom: 16px;
}
.repair-technic__title {
  min-width: 320px;
  height: auto;
  background-color: #fff;
  background: linear-gradient(90deg, #f8f8f8 0%, #ffffff 98.61%);
  border-top: 1px solid #d9fff5;
}
.repair-title {
  font-family: "TT Lakes";
  font-size: 16px;
  padding: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7e7e82;

  @media (min-width: 768px) {
    padding: 16px 26px;
  }
  @media (min-width: 1120px) {
    padding: 16px 32px;
  }
}

.technic-slider__slide {
  height: 160px;
  position: relative;
  cursor: pointer;
  transition-duration: 0.4s, 0.8s;

  &:hover {
    box-shadow: inset 0 0 0 2px #ff3e79;
    transform: scale(0.9, 0.9);
  }

  @media (max-width: 768px) {
    max-width: 240px;
    margin: 16px 0 16px 16px;
  }

  @media (min-width: 768px) and (max-width: 1119px) {
    max-width: 30%;
    margin: 0px 18px 24px 0;
  }
  @media (min-width: 1120px) {
    margin: 24px 32px 0px 0px;
    max-width: 240px;
  }
  @media (min-width: 1366px) and (max-width: 1408px) {
    margin: 16px 16px 0px 0px;
    max-width: 240px;
  }
  background: #ffffff;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  border-radius: 6px;
}
.technic-slider__wrapper:last-of-type {
  margin-right: -8px;
}
.technic-slider__wrapper {
  padding-left: 0;

  @media (min-width: 768px) {
    max-height: 184px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
    padding-left: 24px;
    margin-top: 24px;
  }
  @media (min-width: 1120px) {
    padding-left: 32px;
  }
  @media (min-width: 1336px) and (max-width: 1408px) {
    padding-left: 20px;
  }
}
.technic-slider__wrapper::after {
  @media (max-width: 320px) {
    content: "";
    width: 24px;
    height: 160px;
    top: 15px;
    position: absolute;
    left: 296px;
    background-image: linear-gradient(
      270deg,
      #f8f8f8 16.84%,
      rgba(248, 248, 248, 0.0001) 100%
    );
  }
}

.technic-slider__link {
  display: block;
  font-family: "TT Lakes";
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #1b1c21;
  padding-top: 16px;
  padding-left: 16px;
}
.technic-slider__logo {
  position: absolute;
  right: 16px;
  bottom: 16px;
}
.swiper-pagination__technic {
  position: relative;
  transform: translateY(12px);

  @media (min-width: 768px) {
    display: none;
  }
  .swiper-pagination-bullet {
    margin-top: 16px;
  }
}
