.sidebar {
  font-family: "TT Lakes";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  height: 100vh;

  @media (max-width: 1365px) {
    display: none;
    z-index: 100;
    width: 320px;
    position: relative;
    height: 100vh;
    left: 0;
    top: 0;
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
    background: #fff;
  }
  @media (min-width: 360px) {
    width: 360px;
  }
  @media (min-width: 1366px) {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100vh;
    position: fixed;
    top: 0; 
    background: #fff;
    height: 100%;
  }
}

.sidebar--show {
  display: block;
  z-index: 15;
}
.header-sidebar {
  // flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 24px 16px;
  align-items: center;
  @media (min-width: 360px) {
    padding: 24px 24px;
  }
}
.burger-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.button-icon {
  border: 0;
  padding: 0;
  background-color: inherit;
  width: 40px;
  height: 40px;
  
}
.button-icon:hover {
  transform: scale(1.1, 1.1);
  transition: all 0.3s ease;
}
.burger-logo__burger {
  background-image: url(../img/icon/closeburger.svg);
  margin-right: 17px;
 
  @media (min-width: 1366px) {
    display: none;
  }
}
.burger-logo__logo {
  background-image: url(../img/icon/logo.svg);
  width: 97px;
  height: 51px;
  
}
.icon-search {
  background-image: url(../img/icon/search.svg);
}
.menu__navigation-bar {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  
}
.menu {
  flex: 1 0 auto;
  padding: 0px 16px;
  margin-bottom: 32px;

  @media (min-width: 360px) {
    padding: 0 24px;
  }
  @media (min-width: 768px) {
    padding-top: 24px;
  }
}
.menu__item {
  // display: table;
  margin-bottom: 24px;
}
.menu__link {
  font-family: "TT Lakes";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  font-weight: 500;
  display: block;
  line-height: 24px;
  color: #1b1c21;

  transition-duration: 0.4s, 0.8s;
}
.menu__link:hover {
  transform: scale(1.1, 1.2);
  color: #ff3e79;
}

.menu__link--active {
  pointer-events: none;
  color: #7e7e82;
}
.menu__link--active::before {
  content: "";
  width: 4px;
  height: 32px;
  background-image: url(../img/icon/highlight.svg);
  position: absolute;
  pointer-events: none;
  transform: translate(-16px, -5px);
  @media (min-width: 360px) {
    transform: translate(-24px, -3px);
  }
}

footer {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-left: 16px;

  @media (min-width: 360px) {
    margin-left: 24px;
  }
}
.button-icon--call {
  background-image: url(../img/icon/call.svg);
  margin-right: 16px;
}
.button-icon--chat {
  background-image: url(../img/icon/chat.svg);
  margin-right: 16px;
}
.button-icon--profile {
  background-image: url(../img/icon/profile.svg);
  margin-right: 16px;
}
.footer__mail {
  display: block;
  margin-top: 16px;
  margin-bottom: 12px;
  color: #1b1c21;
  font-size: 16px;
  width: 106px;
  height: 24px;
}
.footer__phone {
  display: block;
  margin-bottom: 40px;
  color: #1b1c21;
  font-style: bold;
  font-weight: 700;
  font-size: 24px;
}
.languages {
  display: flex;
  flex-wrap: wrap;
}
.toggle-languages {
  border: none;
  background: none;
  color: #1b1c21;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  padding-right: 8px;
}
.toggle-languages--active {
  color: #7e7e82;
}
.sidebar-fog {
  display: none;
  z-index: 25;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}
.sidebar-fog--show {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  pointer-events: all;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.95);
  transition: 0.5s;
}

@-webkit-keyframes Sidebar {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes Sidebar {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
