.sidebar {
  font-family: "TT Lakes Medium";
  font-size: 16px;
  line-height: 24px;
  @media (max-width: 1365px) {
    display: none;
    z-index: 100;
    width: 320px;
    position: relative;
    height: 100vh;
    left: 0;
    top: 0;
    -webkit-box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
            box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
    background: #fff;
  }
  @media (min-width: 360px) {
    width: 360px;
  }
  @media (min-width: 1366px) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 320px;
    height: 100vh;
    position: fixed;
    top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #fff;
  }
}

.sidebar--show {
  display: block;
  z-index: 15;
}
header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.header__menu--mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 10px;
  @media (min-width: 768px) and (max-width: 1120px){
    margin-right: 0;
  }
  @media (max-width: 360px) {
    padding: 0px;
  }
}
.mobile-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  @media (min-width: 768px) and (max-width: 1120px){
    margin: 0;
  }
}
.button-icon {
  border: 0;
  padding: 0;
  background-color: inherit;
  width: 40px;
  height: 40px;
  margin-right: 16px;
}
.button-icon {
  @media (min-width: 768px) and (max-width: 1120px){
   margin-right: 24px;
  }
}
.button-icon:hover {
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  -webkit-transition: all 0.3s  ease;
  -o-transition: all 0.3s  ease;
  transition: all 0.3s  ease;
}
.header__button-icon--closeburger {
  background-image: url(../img/icon/closeburger.svg);
  
  @media (min-width: 1366px) {
    display: none;
  }
}
.header__logo {
  background-image: url(../img/icon/logo.svg);
  width: 97px;
  height: 51px;
}
.header__button-icon-search {
  background-image: url(../img/icon/search.svg);
}
.menu__navigation-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-decoration: none;
}
.menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.menu__item {
  margin-bottom: 29px;
  margin-left: 24px;
  display: table;
}
.menu__link {
  font-size: 16px;
  font-weight: 500;
  display: block;
  line-height: 24px;
  color: #1b1c21;
  -webkit-transition-duration: 0.4s, 0.8s;
       -o-transition-duration: 0.4s, 0.8s;
          transition-duration: 0.4s, 0.8s;
  
}
.menu__link:hover {
  -webkit-transform: scale(1.1, 1.2);
      -ms-transform: scale(1.1, 1.2);
          transform: scale(1.1, 1.2);
  color: #ff3e79;
 
}

.menu__link--active {
  pointer-events: none;
  color: #7e7e82;
}
.menu__link--active::before {
  content: "";
  width: 4px;
  height: 30px;
  background-image: url(../img/icon/highlight.svg);
  position: absolute;
  pointer-events: none;
  margin-left: -24px;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}
footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 24px;
  margin-bottom: 30px;
}
.footer__button-icon--call {
  background-image: url(../img/icon/call.svg);
}
.footer__button-icon--chat {
  background-image: url(../img/icon/chat.svg);
}
.footer__button-icon--profile {
  background-image: url(../img/icon/profile.svg);
}
.footer__mail {
  display: block;
  margin-top: 16px;
  margin-bottom: 12px;
  color: #1b1c21;
  font-size: 16px;
  width: 106px;
  height: 24px;
}
.footer__phone {
  display: block;
  margin-bottom: 40px;
  color: #1b1c21;
  font-style: bold;
  font-weight: 700;
  font-size: 24px;
}
.languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.toggle-languages {
  border: none;
  background: none;
  color: #1b1c21;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  padding-right: 8px;
}
.toggle-languages--active {
  color: #7e7e82;
}
.sidebar-fog {
  display: none;
  z-index: 25;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}
.sidebar-fog--show {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  pointer-events: all;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

@-webkit-keyframes Sidebar {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes Sidebar {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}